{% macro displayResult(title,elems,args) %}
    {% if elems is not empty %}
        <div>
            <h3>{{ title }}</h3>
            
            <ol>
            {% for page in elems %}
                {{ block('liWithNumber') }}
            {% endfor %}
            </ol>
        </div>
    {% endif %}
{% endmacro %}

{% extends "@core/newtextsearch.twig" %}


{% block results %}
  {% if searchText is empty %}
  {% elseif results is empty %}
    {{ format('---- --- **' ~ _t('NO_SEARCH_RESULT') ~ '.**')|raw }}
  {% else %}
    {{ format('---- --- **' ~ _t('SEARCH_RESULTS') ~ ' [""' ~ searchText ~ '""] :---**')|raw }}
    {# show by forms or pages#}
    {% for formId in (args.displayorder is empty ? formsTitles|keys : args.displayorder) %}
        {{ _self.displayResult(formsTitles[formId],results|filter(e => e.form == formId),args) }}
    {% endfor %}
  {% endif %}
{% endblock %}